<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns="http://www.w3.org/1999/xhtml%22%3E">
    <head>
        <title>¿Donde quieres ir?</title>
        <meta charset="UTF-8"/>
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
        <link href="/css/footer.css" rel="stylesheet" type="text/css"/>
        <link href="/css/button.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header_1"/>
        <div class="container">
            <h1>Los mejores hoteles de la zona</h1>
            <div class="row">
                <div class="col-md-6">
                    <img src="images/Andaz-Costa-Rica-Resort-at-Peninsula-Papagayo.jpg" alt="AndazResort" class="img-fluid"/>
                    <img src="images/riupalace0.jpg" alt="Springs Resort-Spa"/>
                </div>
                <div class="col-md-6">
                    <p>Descripción de los beneficios del hotel:</p>
                    <ul>
                        <li>Cercano al aeropuerto</li>
                        <li>Incluye el desayuno</li>
                        <li>Agua Termal</li>
                    </ul>
                </div>
            </div>
        </div>
        <br/>
        <div class="p">
                <p>¿Estas listo para tú viaje?</p>
                <br/>
                <button class="button" role="button"><a th:href="@{/usuario/nuevo}">¡Reservar ahora!</a></button>
            </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
